<div class="container">
  <div class="navbar navbar-default navbar-fixed-top">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link show" data-toggle="tab" [routerLink]="'./files'" [routerLinkActive]="['active']">Files</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" [routerLink]="'./details'" [routerLinkActive]="['active']">Details</a>
      </li>
    </ul>
    <div class="navbar-header">
      <div id="upload_button">
        <label>
          <input type="file" ngf-select (change)="uploadObject($event.target.files)" style="display: none" multiple>
          <span class="btn btn-primary">Upload object</span>
        </label>
      </div>
      <button type="button" class="btn btn-danger" (click)="deleteBucket()">Delete Bucket
      </button>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
