<div class="container">
  <div class="navbar navbar-default navbar-fixed-top">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link show" data-toggle="tab" [routerLink]="'./files'" [routerLinkActive]="['active']">Files</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" [routerLink]="'./details'" [routerLinkActive]="['active']">Details</a>
      </li>
    </ul>
    <div class="navbar-header">
      <a href="." class="navbar-brand">
        <button type="button" class="btn btn-primary">
          <a [routerLink]="['./new']">Delete Object</a>
        </button>

        <button type="button" class="btn btn-primary">
          <a [routerLink]="['./new']">Upload Object</a>
        </button>
      </a>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
